@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-flash: confirmationFlash 500ms forwards;

  @keyframes confirmationFlash {
    30% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }
}
